In [2]:
%matplotlib inline
import pandas as pd

In [3]:
titles_df = pd.read_csv("titles.csv")
print("length = ",len(titles_df))
print("length = ",titles_df.shape)
print("--------------------")
titles_df.head()

length =  226013
length =  (226013, 2)
--------------------

                  title  year
0      The Gay Diplomat  1931
1       The Danger Zone  1918
2  Prinsessens Tilbeder  1918
3         Proof of Life  2000
4                 Orion  2013

In [8]:
cast_df = pd.read_csv('cast.csv')
cast_df.head()

,title,year,name,type,character,n
0,Closet Monster,2015.0,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015.0,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015.0,$hutter,actor,1988 Opera House Patron,NaN

In [5]:
start = "\033[1m"
end = "\033[0;0m"
red = "\033[91m"
purple = '\033[95m'

PURPLE = '\033[95m'
CYAN = '\033[96m'
DARKCYAN = '\033[36m'
BLUE = '\033[94m'
GREEN = '\033[92m'
YELLOW = '\033[93m'
RED = '\033[91m'
BOLD = '\033[1m'
UNDERLINE = '\033[4m'
END = '\033[0m'

In [9]:
cast_df.shape

(2159949, 6)

### 1. How many movies are listed in the titles dataframe?

In [ ]:
print(f"There are {start}{red}{titles_df.shape[0]}{end} movies listed in the tile dataframe")

### 2. What are the earliest two films listed in the titles dataframe?

In [147]:
print(f" {start}{red}USING iloc[]: The Earliest two movies in the titles dataframe is:\n{end}")
titles_df.sort_values('year').iloc[0:2]

 USING iloc[]: The Earliest two movies in the titles dataframe is:

                     title  year
224653          Miss Jerry  1894
217840  The Startled Lover  1898

In [148]:
print(f" {start}{red}USING .head(2): The Earliest two movies in the titles dataframe is:\n{end}")
titles_df.sort_values('year').head(2)

 USING .head(2): The Earliest two movies in the titles dataframe is:

                     title  year
224653          Miss Jerry  1894
217840  The Startled Lover  1898

### 3. How many movies have the title "Hamlet"?

In [151]:
hamletCount = titles_df[titles_df['title']=='Hamlet'].shape[0]
print(f"There are {start}{hamletCount}{end} movies having the title{start} Hamlet")

There are 20 movies having the title Hamlet

### 4. How many movies are titled "North by Northwest"?

In [156]:
#titles DataFrame
northWestCount = titles[titles['title'] == 'North by Northwest'].shape[0]
print(f"There are {start}{northWestCount}{end} movies having the title{start} North by Northwest{end} in {start}titles{end} data frame{end}")

#cast DataFrame
northWestCount = castData_df[castData_df['title']=='North by Northwest'].shape[0]
print(f"There are {start}{northWestCount}{end} movies having the title{start} North by Northwest{end} in {start}cast{end} data frame")

There are 1 movies having the title North by Northwest in titles data frame
There are 81 movies having the title North by Northwest in cast data frame

### 5. When was the first movie titled "Hamlet" made?

In [187]:
print("First movie titled \'Hamlet\' was made in:\n")
titles[titles.title == "Hamlet"].sort_values('year').head(1)

First movie titled 'Hamlet' was made in:

         title  year
121508  Hamlet  1910

In [185]:
print(f"First movie titled \'Hamlet\' was made in:{start}",titles[titles.title == "Hamlet"].sort_values('year').iloc[0,1])

First movie titled 'Hamlet' was made in: 1910

### 6. List all of the "Treasure Island" movies from earliest to most recent.

In [206]:
titles[titles['title'].str.contains("Treasure Island",na=False)].sort_values('year')

                                                    title  year
223357                                    Treasure Island  1918
147521                                    Treasure Island  1920
2356                                      Treasure Island  1934
140790                      The Secret of Treasure Island  1938
114885                                    Treasure Island  1950
36370                           Return to Treasure Island  1954
11234                           Five on a Treasure Island  1957
77252                                     Treasure Island  1972
75927                                     Treasure Island  1973
56446                                     Treasure Island  1985
116243                             Muppet Treasure Island  1996
62034                                     Treasure Island  1999
200950                               Treasure Island (II)  1999
41761                          Pirates of Treasure Island  2006
222013  Treasure Island Kids: The Battle of Treasure I...  2006
110706  Treasure Island Kids: The Monster of Treasure ...  2006
168353  Treasure Island Kids: The Mystery of Treasure ...  2006
69260              National Theatre Live: Treasure Island  2015

### 7. How many movies were made in the year 1950?

In [211]:
print(f"{start}{red}{titles[titles['year']==1950].shape[0]}{end} movies were made in the year 1950")

1109 movies were made in the year 1950

### 8. How many movies were made in the year 1960?

In [212]:
print(f"{start}{red}{len(titles[titles['year']==1960])}{end} movies were made in the year 1960")

1496 movies were made in the year 1960

### 9. How many movies were made from 1950 through 1959?

In [219]:
movies1950To1959 = len(titles[(titles['year']>=1950) & (titles['year']<=1959)])
print(f"{start}{red}{movies1950To1959}{end} movies were made from 1950 through 1959")

12664 movies were made from 1950 through 1959

### 10. In what years has a movie titled "Batman" been released?

In [246]:
series1=titles[titles['title']== 'Batman']['year']
BatmanYear=[]
for i in series1.items():
    BatmanYear.append(i)

print(f"Batman movies was released in the year {start}{BatmanYear[0][1]}{end} and {start}{BatmanYear[1][1]}{end}")

Batman movies was released in the year 1943 and 1989

In [247]:
titles[titles['title']== 'Batman']

        title  year
49816  Batman  1943
99171  Batman  1989

### 11. How many roles were there in the movie "Inception"?

In [256]:
print(f"There are {start}{len(cast_df[cast_df['title']=='Inception']['character'])} {end} roles in the movie \'Inception\'")

There are 52  roles in the movie 'Inception'

In [258]:
print(f"There are {start}{(cast_df[cast_df['title']=='Inception']['character'].nunique())} unique {end} roles in the movie \'Inception\'")

There are 42 unique  roles in the movie 'Inception'

### 12. How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [280]:
# len(cast_df[(cast_df.title=='Inception') & (cast_df.n.isnull()) ])

c = cast_df[(cast_df.title=='Inception')]
c=c[c.n.isnull()]
print(f"There are {start}{len(c)}{end} roles in the Movie {start}Inception{end} that do not have a rank")

There are 21 roles in the Movie Inception that do not have a rank

### 13. But how many roles in the movie "Inception" did receive an "n" value?

In [282]:
# len(cast_df[(cast_df.title=='Inception') & (cast_df.n.notnull()) ])

cn = cast_df[(cast_df.title=='Inception')]
cn=cn[cn.n.notnull()]
print(f"There are {start}{len(cn)}{end} roles in the Movie {start}Inception{end} that recieved rank")

There are 31 roles in the Movie Inception that recieved rank

### 14. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [20]:
x= cast_df[cast_df.title == 'North by Northwest']
x = x[x.n.notnull()]
x= x.sort_values('n')
print(f"{red}{start}{UNDERLINE}Displaying the cast of \"North by Northwest\" in their order of ranking {end}\n")
x

Displaying the cast of "North by Northwest" in their order of ranking

,title,year,name,type,character,n
840374,North by Northwest,1959.0,Cary Grant,actor,Roger O. Thornhill,1.0
1404704,North by Northwest,1959.0,James Mason,actor,Phillip Vandamm,3.0
343701,North by Northwest,1959.0,Leo G. Carroll,actor,The Professor,5.0
1634552,North by Northwest,1959.0,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959.0,Martin Landau,actor,Leonard,8.0
1746383,North by Northwest,1959.0,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959.0,Robert Ellenstein,actor,Licht,11.0
447893,North by Northwest,1959.0,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959.0,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959.0,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959.0,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### 15. Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [19]:
print(f"{red}{start}{UNDERLINE}Displaying the cast of \"Sleuth of 1972\" in their order of ranking {end}\n")

s= cast_df[cast_df.title == 'Sleuth']
s = s[s.year == 1972]
s= s.sort_values('n')
s

Displaying the cast of "Sleuth of 1972" in their order of ranking

,title,year,name,type,character,n
1644328,Sleuth,1972.0,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972.0,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972.0,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972.0,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1396572,Sleuth,1972.0,Teddy Martin,actor,Police Constable Higgs,6.0

### 16. Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
print(f"{red}{start}{UNDERLINE}Displaying the cast of \"Sleuth of 2007\" in their order of ranking {end}\n")

s=cast_df[cast_df.title == 'Sleuth']
s=s[s.year == 2007]
s = s.sort_values('n')
s

Displaying the cast of "Sleuth of 2007" in their order of ranking

          title    year                 name   type          character    n
314692   Sleuth  2007.0        Michael Caine  actor             Andrew  1.0
1246855  Sleuth  2007.0             Jude Law  actor               Milo  2.0
1741124  Sleuth  2007.0        Harold Pinter  actor        Man on T.V.  3.0
250297   Sleuth  2007.0      Kenneth Branagh  actor  Other Man on T.V.  NaN
360366   Sleuth  2007.0  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

### 17.  How many roles were credited in the silent 1921 version of Hamlet?

In [32]:
c= cast_df[(cast_df.title == "Hamlet")&(cast_df.year == 1921)]

print(f"There were {start}{red}{len(c)}{end} roles created in the Silent 1921 version of \'Hamlet\''")

len(c)
# len(c.character)

There were 5 roles created in the Silent 1921 version of 'Hamlet''

5

### 18. How many roles were credited in Branagh’s 1996 Hamlet?

In [37]:

c = cast_df
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
c

print(f"there were {start}{red}{len(c)}{end} roles created in the Branagh's 1996 Hamlet")

there were 38 roles created in the Branagh's 1996 Hamlet

### 19. How many "Hamlet" roles have been listed in all film credits through history?

In [45]:
c = cast_df[cast_df.character == "Hamlet"]
len(c)
print(f"There have been {start}{red}{len(c)}{end} roles listed for all of the Movie titled \'Hamlet\' through histrory")

There have been 78 roles listed for all of the Movie titled 'Hamlet' through histrory

### 20. How many people have played an "Ophelia"?

In [58]:
countOph = (cast_df[cast_df.character == 'Ophelia']['name']).nunique()


print(f"There were {start}{red}{countOph}{end} people who played the role of \'Ophelia\' ")

There were 7 people who played the role of 'Ophelia'

### 21. How many people have played a role called "The Dude"?

In [59]:
countDude = (cast_df[cast_df.character == 'The Dude']['name']).nunique()


print(f"There were {start}{red}{countDude}{end} people who played the role of \'the Dude\' ")

There were 16 people who played the role of 'the Dude'

### 22. How many people have played a role called "The Stranger"?

In [62]:
countStranger = (cast_df[cast_df.character == 'The Stranger']['name']).nunique()


print(f"There were {start}{red}{countStranger}{end} people who played the role of \'the Stranger\' ")

There were 173 people who played the role of 'the Stranger'

### 23. How many roles has Sidney Poitier played throughout his career?

In [80]:
sidney_df = cast_df[cast_df.name == "Sidney Poitier"]
CountSidney= len(sidney_df.character )
uniqueCountSidney = sidney_df.character.nunique()
print(f"Sidney Poitier played {start}{red}{CountSidney}{end} roles in {start}{red}Total{end} throughout his career")
print(f"Sidney Poitier played {start}{red}{uniqueCountSidney} UNIQUE{end} roles throughout his career")

Sidney Poitier played 43 roles in Total throughout his career
Sidney Poitier played 41 UNIQUE roles throughout his career

In [74]:
sidney_df[sidney_df.character.duplicated()]

,title,year,name,type,character,n
1751095,The Organization,1971.0,Sidney Poitier,actor,Virgil Tibbs,1.0
1751098,They Call Me Mister Tibbs!,1970.0,Sidney Poitier,actor,Virgil Tibbs,1.0

### 24. How many roles has Kliment Denchev played?

In [97]:
# cast_df[cast_df.name.str.contains("Judy",na=False)]#Kliment Denchev
judy_df = cast_df[cast_df.name == "Kliment Denchev"]
CountJudy= len(judy_df.character )
uniqueCountJudy = judy_df.character.nunique()
print(f"Kliment Denchev played {start}{red}{CountJudy}{end} roles in {start}{red}Total{end} throughout his career")
print(f"Kliment Denchev played {start}{red}{uniqueCountJudy} UNIQUE{end} roles throughout his career")

Kliment Denchev played 23 roles in Total throughout his career
Kliment Denchev played 23 UNIQUE roles throughout his career

### 25. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [129]:
c= cast_df.copy()
# Perform floor division to find the value in the 1940s ie from 1940 through 1949
c = c[(c.name == 'Cary Grant')& (c.year //10 == 194)] 
c= c[c.n==2].sort_values('year')
print(f"{UNDERLINE}{start}{red}There are 2 supporting roles played by Cart Grant in the 1940s{end}\n")
print(str(list(c.character)) + "\n")
c

There are 2 supporting roles played by Cart Grant in the 1940s

['Nick', 'Roger Adams']

                   title    year        name   type    character    n
840371  My Favorite Wife  1940.0  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941.0  Cary Grant  actor  Roger Adams  2.0

### 26. List the leading roles that Cary Grant played in the 1940s in order by year.

In [161]:
c=cast_df[(cast_df.name == 'Cary Grant') & (cast_df.year // 10 == 194)]
c= c[c.n == 1]
c = c.sort_values('year')
print(f"{UNDERLINE}{start}{red}Leading Roles played by Cary Grant in the 1940s are:{end} \n")
c

Leading Roles played by Cary Grant in the 1940s are:

,title,year,name,type,character,n
840397,The Howards of Virginia,1940.0,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940.0,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940.0,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941.0,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942.0,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942.0,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943.0,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943.0,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943.0,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944.0,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944.0,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944.0,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946.0,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946.0,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947.0,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947.0,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948.0,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948.0,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949.0,Cary Grant,actor,Captain Henri Rochard,1.0

### 27. How many roles were available for actors in the 1950s?

In [141]:
c= cast_df[(cast_df.year //10 == 195) & (cast_df.type == 'actor')]
actors1950 = len(c)
print(f"There were {start}{red}{actors1950}{end} roles available for {start}{red}actors{end} in the {start}1950s{end}")

There were 137408 roles available for actors in the 1950s

### 28. How many roles were available for actresses in the 1950s?

In [139]:
c= cast_df[(cast_df.year //10 == 195) & (cast_df.type == 'actresses')]
actresses1950 = len(c)
print(f"There were {start}{red}{actresses1950}{end} roles available for {start}{red}actresses{end} in the {start}1950s{end}")

There were 0 roles available for actresses in the 1950s

In [137]:
cast_df.type.unique()

array(['actor', nan], dtype=object)

### 29. How many leading roles (n=1) were available from the beginning of film history through 1980?

In [150]:
c = cast_df[(cast_df.year <=1980) & (cast_df.n == 1)]
print(f"There were{start}{red} {len(c)}{end} leading roles available from the begining pf the film history through 1980")

There were 38187 leading roles available from the begining pf the film history through 1980

### 30. How many non-leading roles were available through from the beginning of film history through 1980?

In [151]:
c = cast_df[(cast_df.year <=1980) & (cast_df.n != 1)]
print(f"There were{start}{red} {len(c)}{end} NON-LEADING roles available from the begining pf the film history through 1980")

There were 703017 NON-LEADING roles available from the begining pf the film history through 1980

### 31. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [152]:
c = cast_df[(cast_df.year <=1980) & (cast_df.n.isnull())]
print(f"There were{start}{red} {len(c)}{end} MINOR roles available from the begining pf the film history through 1980")

There were 299849 MINOR roles available from the begining pf the film history through 1980